In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [240]:
from ipywidgets import widgets

In [2]:
%matplotlib inline

In [119]:
table1 = pd.read_csv('USD000000TOD.trades_20180514_092903.csv', sep=';')
table1.head()

,quantity,price,isBuy,ticks,origTimeHHMMSS,origTimeMicroSecs,fastId,fixId,tag779,tag52,...,srcPx,futStatus,priceInfo,dstPriceAdd,timePacket,timeCreate,timeStartPrepare,timeEndPrepare,delta,Unnamed: 21
0,10,6189000,1,NaN,70000,766582,168639238,-1,0,180514070000767140,...,0,-1,94484348479664,140219878265944,0.0,0.0,0.0,0.0,0,NaN
1,10,6189000,1,NaN,70000,770012,168639239,-1,0,180514070000770445,...,0,-1,94484348479664,140219878265944,0.0,0.0,0.0,0.0,0,NaN
2,9,6189000,1,NaN,70000,792681,168639242,-1,0,180514070000793141,...,0,-1,94484348479664,140219878265944,0.0,0.0,0.0,0.0,0,NaN
3,51,6189000,1,NaN,70001,157832,168639246,-1,0,180514070001158366,...,0,-1,94484348479664,140219878265944,0.0,0.0,0.0,0.0,0,NaN
4,1,6186750,0,NaN,70001,310769,168639247,-1,0,180514070001311246,...,0,-1,94484348479664,140219878265944,0.0,0.0,0.0,0.0,0,NaN

In [5]:
table2 = pd.read_csv('USD000UTSTOM.trades_20180514_092903.csv', sep=';')
table2.head()

,quantity,price,isBuy,ticks,origTimeHHMMSS,origTimeMicroSecs,fastId,fixId,tag779,tag52,...,srcPx,futStatus,priceInfo,dstPriceAdd,timePacket,timeCreate,timeStartPrepare,timeEndPrepare,delta,Unnamed: 21
0,1,6192500,1,NaN,70000,600900,168639234,-1,0,180514070000601372,...,0,-1,94484348479664,140219878265944,0.0,0.0,0.0,0.0,0,NaN
1,10,6185750,0,NaN,70000,623106,168639235,-1,0,180514070000623608,...,0,-1,94484348479664,140219878265944,0.0,0.0,0.0,0.0,0,NaN
2,1,6188500,0,NaN,70000,681441,168639236,-1,0,180514070000681988,...,0,-1,94484348479664,140219878265944,0.0,0.0,0.0,0.0,0,NaN
3,4,6188500,0,NaN,70000,716771,168639237,-1,0,180514070000717315,...,0,-1,94484348479664,140219878265944,0.0,0.0,0.0,0.0,0,NaN
4,10,6193000,0,NaN,70000,772476,168639240,-1,0,180514070000772857,...,0,-1,94484348479664,140219878265944,0.0,0.0,0.0,0.0,0,NaN

In [293]:
def my_func(table, window_size):
    
    w_size = window_size*1000000*60 # microsec -> 1 min
    
    table.columns = map(lambda x: x.strip(), table.columns)

    table['fulltime'] = table.apply(lambda x: x['origTimeHHMMSS']*1000000 + x['origTimeMicroSecs'], axis=1).astype('int64')

    min_time = table.fulltime.min()

    table['w_quantity'] = table.apply(lambda x: x['quantity'] if x['isBuy'] == 1 else -x['quantity'], axis=1)

    grouped_by_time = table.groupby(['fulltime']).agg({'w_quantity': 'sum'}).reset_index()

    grouped_by_time['window_number'] = grouped_by_time.fulltime.apply(lambda x: (x - min_time) // w_size)


    grouped_by_window = grouped_by_time.groupby(by=['window_number']).agg({'w_quantity' : 'sum', 'window_number' : 'count'})



    grouped_by_window.columns = ['sum_quantity', 'w_size']
    grouped_by_window['omega'] = grouped_by_window.apply(lambda x: x.sum_quantity/x.w_size, axis=1)

    common_df = grouped_by_time.join(grouped_by_window, on='window_number')

    common_df['sigma'] = common_df.apply(lambda x: (x['w_quantity'] - x['omega'])/x['w_size'], axis=1)

    return common_df[['fulltime', 'window_number', 'omega', 'sigma']]

In [294]:
my_func(table, window_size)

           fulltime  window_number       omega       sigma
0       70000600900              0    4.652893   -0.030189
1       70000623106              0    4.652893   -0.121098
2       70000681441              0    4.652893   -0.046718
3       70000716771              0    4.652893   -0.071512
4       70000772476              0    4.652893   -0.121098
5       70000779607              0    4.652893   -0.021925
6       70000794958              0    4.652893   -0.112834
7       70000816862              0    4.652893   -0.054983
8       70000928041              0    4.652893   -0.063247
9       70001787697              0    4.652893    0.192951
10      70001973980              0    4.652893    0.143365
11      70002314496              0    4.652893   -0.451677
12      70002636614              0    4.652893    0.068984
13      70002784267              0    4.652893    2.192951
14      70003784579              0    4.652893   -0.451677
15      70005042254              0    4.652893    0.374769
16      70005046035              0    4.652893    1.614439
17      70005661994              0    4.652893    0.085513
18      70005720560              0    4.652893   -0.030189
19      70005863192              0    4.652893    0.019398
20      70006877865              0    4.652893    1.548323
21      70006878749              0    4.652893   -0.104569
22      70006933394              0    4.652893    0.721877
23      70007733423              0    4.652893   -0.823578
24      70007740066              0    4.652893   -0.864900
25      70007755619              0    4.652893    1.614439
26      70007767856              0    4.652893   -0.030189
27      70007933379              0    4.652893   -0.030189
28      70008156746              0    4.652893   -0.005396
29      70008807130              0    4.652893    0.126836
...             ...            ...         ...         ...
15182  204626142456           2243    6.857143   14.591837
15183  204649704302           2244  -33.500000  -14.250000
15184  204651307924           2244  -33.500000   14.250000
15185  204700944208           2245  -13.200000   -1.186667
15186  204700944455           2245  -13.200000   -3.253333
15187  204700946418           2245  -13.200000   -2.520000
15188  204700946912           2245  -13.200000   -2.053333
15189  204709052831           2245  -13.200000    0.546667
15190  204725042225           2245  -13.200000    0.746667
15191  204729224264           2245  -13.200000    0.546667
15192  204732446362           2245  -13.200000    0.213333
15193  204733551882           2245  -13.200000    7.880000
15194  204743251293           2245  -13.200000   -1.253333
15195  204744626494           2245  -13.200000    1.213333
15196  204754630256           2245  -13.200000   -1.853333
15197  204759942599           2245  -13.200000    3.146667
15198  204759943540           2245  -13.200000   -1.120000
15199  204759951534           2245  -13.200000   -1.053333
15200  204800005712           2246  -38.200000   -2.360000
15201  204800952490           2246  -38.200000    5.640000
15202  204809345599           2246  -38.200000    1.440000
15203  204815543215           2246  -38.200000   -4.760000
15204  204816383711           2246  -38.200000    0.040000
15205  204827696453           2247 -115.500000 -267.250000
15206  204847945538           2247 -115.500000  267.250000
15207  204925281043           2248   -6.333333    2.777778
15208  204936642192           2248   -6.333333    1.777778
15209  204938378312           2248   -6.333333   -4.555556
15210  204949575640           2249   23.500000  -13.250000
15211  204955283243           2249   23.500000   13.250000

[15212 rows x 4 columns]

In [277]:
window_size=1
table = pd.read_csv('USD000UTSTOM.trades_20180514_092903.csv', sep=';')

In [279]:
w_size = window_size*1000000*60 # microsec -> 1 min
    
table.columns = map(lambda x: x.strip(), table.columns)

table['fulltime'] = table.apply(lambda x: x['origTimeHHMMSS']*1000000 + x['origTimeMicroSecs'], axis=1).astype('int64')

min_time = table.fulltime.min()

table['w_quantity'] = table.apply(lambda x: x['quantity'] if x['isBuy'] == 1 else -x['quantity'], axis=1)

grouped_by_time = table.groupby(['fulltime']).agg({'w_quantity': 'sum'}).reset_index()

grouped_by_time['window_number'] = grouped_by_time.fulltime.apply(lambda x: (x - min_time) // w_size)


grouped_by_window = grouped_by_time.groupby(by=['window_number']).agg({'w_quantity' : 'sum', 'window_number' : 'count'})


grouped_by_window.columns = ['sum_quantity', 'w_size']
grouped_by_window['omega'] = grouped_by_window.apply(lambda x: x.sum_quantity/x.w_size, axis=1)

common_df = grouped_by_time.join(grouped_by_window, on='window_number')

common_df['sigma'] = common_df.apply(lambda x: (x['w_quantity'] - x['omega'])/x['w_size'], axis=1)

final_df = common_df[['fulltime', 'window_number', 'omega', 'sigma']]

In [236]:
hz_che = final_df.groupby('window_number')['sigma'].sum()

In [239]:
hz_che[hz_che > 5]

Series([], Name: sigma, dtype: float64)

In [269]:
checkbox = widgets.interact(f, x=10)
checkbox;

interactive(children=(IntSlider(value=10, description='x', max=30, min=-10), Output()), _dom_classes=('widget-interact',))

In [254]:
def f(x):
    print(x)

In [272]:
checkbox